<!--The content below is only a placeholder and can be replaced.-->

<h1 class="container bg-dark text-white text-center my-4 py-4">[ngFor]</h1>
 <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TIPO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">EDAD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animales; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{animal.tipo}}</td>
                <td>{{animal.nombre}}</td>
                <td>{{animal.edad}}</td>
            </tr>
            <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>The Bird</td>
                <td>@twitter</td>
            </tr> -->
        </tbody>
    </table>
   
 </div>


<!--***************** Segunda Clase ************** -->

<!-- <h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]</h1> 
    <div class="container">
    <div class="text-center my-4">
       <button class="btn btn-success" (click)="activo='Primero'">Primero</button>
       <button class="btn btn-danger" (click)="activo='Segundo'">Segundo</button>
    </div>
    <p class="text-info d-none" [ngClass]="{'d-block':activo =='Primero'}" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nobis, praesentium 
        blanditiis recusandae fugit consequatur pariatur voluptates tenetur accusantium 
        quas natus, dolores dolor perspiciatis rem quibusdam explicabo laborum, at ducimus.
    </p>
    <p class="text-danger d-none" [ngClass]="{'d-block':activo =='Segundo'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit a velit
     voluptates hic nobis nesciunt molestias officia, labore, facilis iusto omnis
    deleniti nisi. Consequatur ipsa doloribus sed sequi dignissimos.
    </p>
</div> -->

<!--******************** Primera Clase ****************** -->

<!-- <app-cabecera >
</app-cabecera>
<app-footer >
</app-footer> -->